<?xml version="1.0" encoding="utf8" ?>
<routes>
    <route url="/admin/" module="Admin" action="index" />
    <route url="/admin/typesExams" module="Admin" action="typesExams" />
    <route url="/admin/typesExams/(ajouter)" module="Admin" action="typesExams" vars="action" />
    <route url="/admin/typesExams/([0-9]+)/(modifier|supprimer)" module="Admin" action="typesExams" vars="idTypeExam,action" />
    <route url="/admin/utilisateurs" module="Admin" action="utilisateur" />
    <route url="/admin/utilisateurs/(ajouter)" module="Admin" action="utilisateur" vars="action" />
    <route url="/admin/utilisateurs/([0-9]+)/(modifier|supprimer)" module="Admin" action="utilisateur" vars="idUtil,action" />
    <route url="/admin/promos" module="Admin" action="promotion" />
    <route url="/admin/promo/(ajouter)" module="Admin" action="promotion" vars="action" />
    <route url="/admin/([a-z]{3}[1-9]{1})" module="Admin" action="promotion" vars="promo" />
    <route url="/admin/([a-z]{3}[1-9]{1})/(modifier|supprimer)" module="Admin" action="promotion" vars="promo,action" />
    <route url="/admin/([a-z]{3}[1-9]{1})/modules" module="Admin" action="enseignement" vars="promo" />
    <route url="/admin/([a-z]{3}[1-9]{1})/étudiants" module="Admin" action="etudiant" vars="promo" />
    <route url="/admin/([a-z]{3}[1-9]{1})/modules/(ajouter)" module="Admin" action="enseignement" vars="promo,action" />
    <route url="/admin/([a-z]{3}[1-9]{1})/étudiants/(ajouter)" module="Admin" action="etudiant" vars="promo,action" />
    <route url="/admin/([a-z]{3}[1-9]{1})/([A-Za-zàâéêèÉÊÈùç' -]{1,})/matières" module="Admin" action="enseignement" vars="promo,module" />
    <route url="/admin/([a-z]{3}[1-9]{1})/([A-Za-zàâéêèÉÊÈùç' -]{1,})/(modifier|supprimer)" module="Admin" action="enseignement" vars="promo,module,action" />
    <route url="/admin/([a-z]{3}[1-9]{1})/([A-Za-zàâéêèÉÊÈùç' -]{1,})/matières/(ajouter)" module="Admin" action="enseignement" vars="promo,module,action" />
    <route url="/admin/([a-z]{3}[1-9]{1})/([A-Za-zàâéêèÉÊÈùç' -]{1,})/([A-Za-zàâéêèÉÊÈùç' -]{1,})" module="Admin" action="enseignement" vars="promo,module,matiere" />
    <route url="/admin/([a-z]{3}[1-9]{1})/([A-Za-zàâéêèÉÊÈùç' -]{1,})/([A-Za-zàâéêèÉÊÈùç' -]{1,})/(modifier|supprimer)" module="Admin" action="enseignement" vars="promo,module,matiere,action" />
    <route url="/admin/([a-z]{3}[1-9]{1})/([A-Za-zàâéêèÉÊÈùç' -]{1,})/([A-Za-zàâéêèÉÊÈùç' -]{1,})/examen/(ajouter)" module="Admin" action="enseignement" vars="promo,module,matiere,action" />
    <route url="/admin/([a-z]{3}[1-9]{1})/([A-Za-zàâéêèÉÊÈùç' -]{1,})/([A-Za-zàâéêèÉÊÈùç' -]{1,})/([0-9]+)/(modifier|supprimer)" module="Admin" action="enseignement" vars="promo,module,matiere,idExam,action" />
     
    <route url="/prof/" module="Prof" action="index" />
    <route url="/prof/promos" module="Prof" action="index" />
    <route url="/prof/([a-z]{3}[1-9]{1})" module="Prof" action="promo" vars="promo" />
    <route url="/prof/([a-z]{3}[1-9]{1})/modules" module="Prof" action="module" vars="promo" />
    <route url="/prof/([a-z]{3}[1-9]{1})/étudiants" module="Prof" action="etudiant" vars="promo" />
    <route url="/prof/([a-z]{3}[1-9]{1})/([A-Za-zàâéêèÉÊÈùç' -]{1,})/matières" module="Prof" action="module" vars="promo,module" />
    <route url="/prof/([a-z]{3}[1-9]{1})/([A-Za-zàâéêèÉÊÈùç' -]{1,})/([A-Za-zàâéêèÉÊÈùç' -]{1,})" module="Prof" action="matiere" vars="promo,module,matiere" />
    <route url="/prof/([a-z]{3}[1-9]{1})/([A-Za-zàâéêèÉÊÈùç' -]{1,})/([A-Za-zàâéêèÉÊÈùç' -]{1,})/examens" module="Prof" action="examens" vars="promo,module,matiere" />
       
    <route url="/eleve/" module="Eleve" action="index" />
    <route url="/eleve/perso" module="Eleve" action="perso" />
    <route url="/eleve/promo" module="Eleve" action="promotion" />
    <route url="/eleve/perso/notesm" module="Eleve" action="perso" vars="action" />
    <route url="/eleve/perso/moyennesm" module="Eleve" action="perso" vars="action" />
    <route url="/eleve/promo/notesm" module="Eleve" action="promotion" vars="action" />
    <route url="/eleve/promo/moyennesm" module="Eleve" action="promotion" vars="action" />
    
    <route url="/connexion" module="User" action="connexion" />
    <route url="/deconnexion" module="User" action="deconnexion" />    
</routes>
