body {
   background: #efefef;
   font-family: "Rambla", sans-serif;
   font-size: 15px;
   margin: auto;
}

a {
   color: rgb(17, 102, 153);
   text-decoration: none;
}

a:hover {
   color: rgb(153, 17, 17);
   text-decoration: underline;
}

nav {
   background: #394c73;
   border-bottom: solid 4px #cfcfcf;
   display: block;
   height: 50px;
}

nav ul {
   margin: 0;
   margin-left: 20px;
   padding: 0;
}

nav ul li {
   display: inline;
   font-size: 16px;
   line-height: 50px;
}

nav ul li a {
   color: #bfbfbf;
   text-decoration: none;
}

nav ul li a:hover {
   color: #fff;
}

#content {
   background: white;
   box-shadow: 0 1px 4px #aaa;
   -moz-box-shadow: 0 1px 4px #aaa;
   -webkit-box-shadow: 0 1px 4px #aaa;
   color: rgb(72,72,72);
   font-family: "Open Sans", sans-serif;
   margin: 0 30px;
   padding: 10px;
}

#content #popup {
   margin: 5px 10px;
}

#content #popup div {
   border-radius: 5px;
   color: #FFF;
   margin-bottom: 8px;
   padding: 10px;
}

#content #popup .popupErreur {
   background: #CB4444;
}

#content #popup .popupInfo {
   background: #465C7F;
}

#content #popup .popupSucces {
   background: #349C34;
}

#content #popup .popupAttention {
   background: #F07C2F;
   color: #333;
}

#content h1, #content h2, #content h3, #content h4, #content h5, #content h6 {
   color: #111;
   font-family: "Rambla", sans-serif;
}

/**
* Formulaires
*/

#content form label {
   display: inline-block;
   width: 150px;
}

#content form input {
   margin-bottom: 5px;
}

/**
* Tableaux
*/

#content table {
   border-collapse: collapse;
   margin: auto;
   width: 90%;
}

#content table thead tr {
   background: #333;
   border: solid 1px #333;
   color: #eee;
   font-size: 13px;
}

#content table thead tr th, #content table tbody tr td {
   padding: 5px 10px;
   text-align: center;
}

#content table tbody {
   background: rgb(247, 247, 247);
   border : solid 1px #bfbfbf;
   border-top: none;
   color: #222;
}

footer {
   color: #111;
   font-size: 13px;
   font-family: "Open Sans", sans-serif;
   margin: 15px 0;
   text-align: center;
}