body {
   background: #efefef;
   font-family: "Rambla", sans-serif;
   font-size: 15px;
   margin: auto;
}

a {
   color: rgb(17, 102, 153);
   text-decoration: none;
}

a:hover {
   color: rgb(153, 17, 17);
   text-decoration: underline;
}

a img {
   border: none;
}

header {
   background: #002a53;
   height: 115px;
}

#menu {
   float: left;
   padding: 20px;
   width: 220px;
}

#menu ul {
   font-family: "Open Sans", sans-serif;
   padding: 0;
}

#menu ul li {
   margin-bottom: 10px;
   margin-left: 10px;
}

#menu ul li a {
   color: #222;
}

#content {
   background: white;
   box-shadow: 0 2px 4px #aaa;
   -moz-box-shadow: 0 2px 4px #aaa;
   -webkit-box-shadow: 0 2px 4px #aaa;
   color: rgb(72,72,72);
   font-family: "Open Sans", sans-serif;
   margin-left: 240px;
   margin-right: 30px;
   padding: 10px;
}

#content a img {
   opacity: 0.6;
}

#content a img:hover {
   opacity: 1;
}

#content #popup {
   margin: 5px 10px;
}

#content #popup div {
   border-radius: 5px;
   color: #FFF;
   margin-bottom: 8px;
   padding: 10px;
}

#content #popup .popupErreur {
   background: #CB4444;
}

#content #popup .popupInfo {
   background: #465C7F;
}

#content #popup .popupSucces {
   background: #349C34;
}

#content #popup .popupAttention {
   background: #F07C2F;
   color: #333;
}

#content h1, #content h2, #content h3, #content h4, #content h5, #content h6 {
   color: #111;
   font-family: "Rambla", sans-serif;
}

#content .button {
   border: solid 1px rgba(255, 255, 255, 0.1);
   border-bottom: solid 2px rgba(0, 0, 0, 0.35);
   border-radius: 5px;
   color: #fff;
   display:inline-block;
   font-size: 14px;
   padding: 4px 10px;
   text-decoration: none;
}

#content .blueButton {
   background: #465c7f;
}

#content .blueButton:hover {
   background: #57739e;
}

#content .greenButton {
   background: #349C34;
}

#content .greenButton:hover {
   background: #38a838;
}

#content .redButton {
   background: #CB4444;
}

#content .redButton:hover {
   background: #d94949;
}

#content .orangeButton {
   background: #F07C2F;
}

#content .orangeButton:hover {
   background: #fc8231;
}

/**
* Formulaires
*/

#content form label {
   display: inline-block;
   width: 150px;
}

#content form input {
   margin-bottom: 5px;
}

#content form fieldset {
   border: solid 1px #bfbfbf;
   margin: 10px;
   padding: 10px;
}

#content form fieldset legend {
   color: #394c73;
   font-weight: bold;
}

#content form #profilEtudiant, #content form #profilProf {
   display: none;
} 

/**
* Tableaux
*/

#content table {
   border-collapse: collapse;
   margin: auto;
   width: 90%;
}

#content table thead tr {
   background: #333;
   border: solid 1px #333;
   color: #eee;
   font-size: 13px;
}

#content table thead tr th, #content table tbody tr td {
   padding: 5px 10px;
   text-align: center;
}

#content table tbody {
   background: rgb(247, 247, 247);
   border : solid 1px #bfbfbf;
   border-top: none;
   color: #222;
}

footer {
   color: #111;
   font-size: 13px;
   font-family: "Open Sans", sans-serif;
   margin: 15px 0;
   text-align: center;
}